# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.log

# Datos y simulaciones
ordenes_reales/
ordenes_simuladas/
*.parquet

# Configuraciones sensibles
.env

# Entornos virtuales
venv/
.env/

# Archivos de frontend (dependencias)
node_modules/
build/
dist/

# Base de datos
backend/db.sqlite3

# Logs
logs/

# Reportes diarios
reportes_diarios/


# Archivos de informes generados
informes/
informes/resultados/
resultados/